In [3]:
import pandas as pd

In [4]:

#The first file has an error.
food_summary_files = [
    'Andriola daily servings summary 190701 thru 191231.csv',
    'Andriola daily servings summary 200101 thru 201231.csv',
    'Andriola daily servings summary 210101 thru 211231.csv',
    'Andriola daily servings summary 220101 thru 220615.csv'
]

In [5]:
#load data

In [6]:
cols = pd.read_csv(food_summary_files[0]).columns;
dfs = []
for summary_file in food_summary_files:
    df = pd.read_csv(summary_file)
    dfs.append(df)
food_df = pd.concat(dfs, ignore_index=True).dropna()

In [7]:
#process data

In [8]:
pattern = r'(\d{4})-(\d{2})-(\d{2})'
replacement = r'\2/\3/\1'
food_df['Day'] = food_df['Day'].replace(pattern, replacement, regex=True)
food_df['ts'] = food_df['Day'] + ' ' + food_df['Time']
food_df['ts'] = pd.to_datetime(food_df['ts'])

In [9]:
#analysis of timestamps
food_df['ts'].describe()

count                             4849
mean     2020-07-06 00:49:45.324809472
min                2019-07-01 09:04:00
25%                2020-02-17 12:03:00
50%                2020-07-21 14:15:00
75%                2020-11-22 13:29:00
max                2021-04-08 23:34:00
Name: ts, dtype: object

In [10]:
#analysis of food groups
food_df['Group'].value_counts()

Group
Breakfast     1878
Lunch         1446
Dinner        1179
Snack          300
Study Meal      45
Misc             1
Name: count, dtype: int64

In [11]:
#Analysis of food items
food_df['Food Name'].value_counts()

Food Name
Coffee, Prepared From Grounds                                          447
Soy Milk, Plain or Original, Unsweetened, Ready-to-Drink, Fortified    434
Banana, Fresh                                                          357
Blueberries, Fresh                                                     326
Strawberries, Fresh                                                    240
                                                                      ...
Chow Mein, Tofu, Noodles not Included                                    1
Fried Wonton, Cream Cheese Filled                                        1
Quaker, Instant Oatmeal, Plain                                           1
Potatoes, Roasted, Includes Franconia                                    1
Chicken Leg, Thigh and Drumstick, Skin Removed Before Eating             1
Name: count, Length: 406, dtype: int64

In [12]:
food_df

,Day,Time,Group,Food Name,Amount,Energy (kcal),Alcohol (g),Caffeine (mg),Water (g),B1 (Thiamine) (mg),...,Lysine (g),Methionine (g),Phenylalanine (g),Protein (g),Threonine (g),Tryptophan (g),Tyrosine (g),Valine (g),Category,ts
0,7/1/2019,9:04 AM,Breakfast,"Coffee, Prepared From Grounds",2.50 small or tall - each 12 fl oz,8.88,0.0,355.2,882.58,0.12,...,0.01,0.00,0.03,1.07,0.01,0.00,0.02,0.03,Beverages,2019-07-01 09:04:00
1,7/1/2019,9:04 AM,Breakfast,"Soy Milk, Plain or Original, Sweetened with Su...",0.50 cup,52.24,0.0,0.0,109.79,0.04,...,0.09,0.02,0.08,3.16,0.08,0.03,0.06,0.08,Beverages,2019-07-01 09:04:00
2,7/1/2019,9:05 AM,Breakfast,Half and Half,4.00 Tbsp,78.60,0.0,0.0,48.34,0.02,...,0.08,0.04,0.09,1.88,0.08,0.04,0.09,0.11,Dairy and Egg Products,2019-07-01 09:05:00
5,7/1/2019,9:06 AM,Breakfast,"Banana, Fresh","1.00 medium - 7"" to 7 7/8"" long",105.02,0.0,0.0,88.39,0.04,...,0.06,0.01,0.06,1.29,0.03,0.01,0.01,0.06,Fruits and Fruit Juices,2019-07-01 09:06:00
6,7/1/2019,9:06 AM,Breakfast,"Strawberries, Fresh","2.00 cup, halves",97.28,0.0,0.0,276.48,0.07,...,0.08,0.01,0.06,2.04,0.06,0.02,0.07,0.06,Fruits and Fruit Juices,2019-07-01 09:06:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6445,4/8/2021,11:33 PM,Dinner,"Garbanzo Beans, Cooked from Dried","0.40 cup, whole pieces",107.58,0.0,0.0,39.50,0.08,...,0.39,0.08,0.31,5.81,0.22,0.06,0.14,0.24,Legumes and Legume Products,2021-04-08 23:33:00
6446,4/8/2021,11:34 PM,Dinner,"Lettuce, Mixed Greens","2.00 cup, chopped",18.92,0.0,0.0,103.51,0.07,...,0.09,0.02,0.07,1.67,0.07,0.02,0.05,0.08,Vegetables and Vegetable Products,2021-04-08 23:34:00
6447,4/8/2021,11:34 PM,Dinner,Hass Avocado,0.30 each,68.14,0.0,0.0,29.51,0.03,...,0.05,0.02,0.04,0.80,0.03,0.01,0.02,0.04,Fruits and Fruit Juices,2021-04-08 23:34:00
6448,4/8/2021,11:32 PM,Snack,"Apple, Fresh, With Skin","1.00 small - 2 3/4"" diameter",77.48,0.0,0.0,127.48,0.03,...,0.02,0.00,0.01,0.39,0.01,0.00,0.00,0.02,Fruits and Fruit Juices,2021-04-08 23:32:00
6449,4/8/2021,11:32 PM,Snack,Honey,4.00 tbsp,257.65,0.0,0.0,14.49,0.00,...,0.01,0.00,0.01,0.25,0.00,0.00,0.01,0.01,Sweets,2021-04-08 23:32:00

In [13]:
#Load the data
cronometer_file = "Andriola daily biometrics summary 190106 thru 220615.csv"
daily_bio_df = pd.read_csv(cronometer_file)

In [14]:
    daily_bio_df

,Day,Time,Group,Metric,Unit,Amount
0,2018-10-15,12:00 AM,Study Meal,Heart Rate (Apple Health),bpm,92.00000
1,2018-10-16,12:00 AM,Study Meal,Heart Rate (Apple Health),bpm,51.00000
2,2018-10-17,12:00 AM,Study Meal,Heart Rate (Apple Health),bpm,56.00000
3,2018-10-18,12:07 AM,Study Meal,Heart Rate (Apple Health),bpm,58.00000
4,2018-10-19,12:02 AM,Study Meal,Heart Rate (Apple Health),bpm,57.00000
...,...,...,...,...,...,...
2180,2022-06-12,6:17 AM,Misc,Heart Rate (Oura),bpm,57.00000
2181,2022-06-13,NaN,Misc,Sleep (Oura),hours,7.35000
2182,2022-06-13,5:19 AM,Misc,Heart Rate (Oura),bpm,60.00000
2183,2022-06-14,NaN,Misc,Sleep (Oura),hours,6.76667
2184,2022-06-14,5:16 AM,Misc,Heart Rate (Oura),bpm,56.00000

In [15]:
#Parse the data
daily_bio_df['Day'] = pd.to_datetime(daily_bio_df['Day'])

In [16]:
daily_bio_df['parsed_metric'] = daily_bio_df['Metric'].str.replace(" (Apple Health)", "").str.replace(" (Oura)","")

In [17]:
daily_bio_df['parsed_metric'].value_counts()

parsed_metric
Heart Rate                  1203
Sleep                        468
Weight                       317
Body Fat                     135
Systolic Blood Pressure       25
Diastolic Blood Pressure      25
Height                        12
Name: count, dtype: int64

In [18]:
bio_df = daily_bio_df.groupby(['Day','parsed_metric'])['Amount'].mean().to_frame()

In [19]:
heart_rate_daily = bio_df.loc[bio_df.index.get_level_values('parsed_metric') == 'Heart Rate']
weight_daily = bio_df.loc[bio_df.index.get_level_values('parsed_metric') == 'Weight']
sleep_daily = bio_df.loc[bio_df.index.get_level_values('parsed_metric') == 'Sleep']
body_fat_daily = bio_df.loc[bio_df.index.get_level_values('parsed_metric') == 'Body Fat']
blood_pressure_sys_daily = bio_df.loc[bio_df.index.get_level_values('parsed_metric') == 'Systolic Blood Pressure']
blood_pressure_dia_daily = bio_df.loc[bio_df.index.get_level_values('parsed_metric') == 'Diastolic Blood Pressure']
height_daily = bio_df.loc[bio_df.index.get_level_values('parsed_metric') == 'Height']

In [20]:
height_daily

                             Amount
Day        parsed_metric
2020-01-05 Height         68.897600
2020-04-13 Height         69.850367
2020-08-08 Height         69.000000
2020-08-18 Height         65.000000
2020-08-24 Height         68.250000

In [21]:
weight_daily

                          Amount
Day        parsed_metric
2018-11-02 Weight          169.0
2018-11-04 Weight          167.0
2018-11-05 Weight          169.0
2018-11-07 Weight          170.0
2018-11-08 Weight          171.0
...                          ...
2021-07-12 Weight          166.6
2021-07-22 Weight          167.0
2021-08-09 Weight          167.0
2021-09-22 Weight          166.4
2022-06-12 Weight          162.0

[284 rows x 1 columns]

In [22]:
arboleaf_data_file = 'arboleaf-Tom Andriola 2020-01 to 2022-06.csv'
arboleaf_df=  pd.read_csv(arboleaf_data_file)

In [23]:
#Parse the data
arboleaf_df['ts'] = pd.to_datetime(arboleaf_df['Time of Measurement'].str.replace("，",","), format='%B %d, %Y at %I:%M:%S %p').dt.date

In [24]:
from datetime import datetime
arboleaf_df.describe()

,Weight(lb),BMI,Body Fat(%),Fat-free Body Weight(lb),Subcutaneous Fat(%),Visceral Fat,Body Water(%),Skeletal Muscle(%),Muscle Mass(lb),Muscle storage ability level,Bone Mass(lb),Protein(%),BMR(kcal),Metabolic Age
count,302.000000,302.000000,299.000000,299.000000,297.000000,297.000000,299.000000,299.000000,299.000000,2.0,299.000000,299.000000,299.000000,299.000000
mean,165.927815,24.577815,13.870569,142.904348,11.758923,6.909091,62.187291,55.641806,135.755184,5.0,7.133110,19.635786,1769.618729,51.361204
std,2.965755,0.442739,0.332173,2.003909,0.235949,0.437072,0.244343,0.216496,1.905766,0.0,0.105267,0.085669,19.617700,0.808906
min,158.200000,23.400000,13.000000,137.600000,11.200000,6.000000,61.600000,55.100000,130.800000,5.0,6.800000,19.400000,1719.000000,49.000000
25%,164.200000,24.300000,13.700000,141.800000,11.600000,7.000000,62.000000,55.500000,134.800000,5.0,7.000000,19.600000,1759.000000,51.000000
50%,165.800000,24.600000,13.900000,142.800000,11.800000,7.000000,62.200000,55.600000,135.800000,5.0,7.200000,19.600000,1769.000000,51.000000
75%,168.000000,24.900000,14.100000,144.200000,11.900000,7.000000,62.300000,55.800000,137.200000,5.0,7.200000,19.700000,1783.000000,52.000000
max,173.400000,25.700000,14.700000,147.800000,12.400000,8.000000,62.800000,56.200000,140.400000,5.0,7.400000,19.800000,1818.000000,53.000000

In [25]:
sleep_data_file = "oura_2020-04-14_2022-06-11_trends.csv"
sleep_df = pd.read_csv(sleep_data_file)

In [26]:
sleep_df.columns

Index(['date', 'Sleep Score', 'Total Sleep Score', 'REM Sleep Score',
       'Deep Sleep Score', 'Sleep Efficiency Score', 'Restfulness Score',
       'Sleep Latency Score', 'Sleep Timin Score', 'Total Sleep Duration',
       'Total Bedtime ', 'Awake Time', 'REM Sleep Duration',
       'Light Sleep Duration', 'Deep Sleep Duration', 'Restless Sleep',
       'Sleep Efficiency', 'Sleep Latency', 'Sleep Timing', 'Bedtime Start',
       'Bedtime End', 'Average Resting Heart Rate',
       'Lowest Resting Heart Rate', 'Average HRV',
       'Temperature Deviation (°C)', 'Temperature Trend Deviation',
       'Respiratory Rate', 'Activity Score', 'Stay Active Score',
       'Move Every Hour Score', 'Meet Daily Targets Score',
       'Training Frequency Score', 'Training Volume Score', 'Activity Burn',
       'Total Burn', 'Steps', 'Equivalent Walking Distance', 'Inactive Time',
       'Rest Time', 'Low Activity Time', 'Medium Activity Time',
       'High Activity Time', 'Non-wear Time', 'Average MET',
       'Long Periods of Inactivity', 'Readiness Score', 'Previous Night Score',
       'Sleep Balance Score', 'Previous Day Activity Score',
       'Activity Balance Score', 'Temperature Score',
       'Resting Heart Rate Score', 'HRV Balance Score',
       'Recovery Index Score'],
      dtype='object')

In [27]:
#parse the data
sleep_df['date'] = pd.to_datetime(sleep_df['date'])

In [28]:
sleep_df

,date,Sleep Score,Total Sleep Score,REM Sleep Score,Deep Sleep Score,Sleep Efficiency Score,Restfulness Score,Sleep Latency Score,Sleep Timin Score,Total Sleep Duration,...,Long Periods of Inactivity,Readiness Score,Previous Night Score,Sleep Balance Score,Previous Day Activity Score,Activity Balance Score,Temperature Score,Resting Heart Rate Score,HRV Balance Score,Recovery Index Score
0,2020-04-14,83.0,77.0,96.0,96.0,97.0,68.0,67.0,100.0,23670.0,...,2,90.0,76.0,NaN,NaN,NaN,98.0,100.0,NaN,97.0
1,2020-04-15,94.0,96.0,100.0,97.0,100.0,89.0,75.0,100.0,29190.0,...,1,92.0,95.0,NaN,75.0,NaN,100.0,94.0,NaN,100.0
2,2020-04-16,79.0,81.0,98.0,54.0,88.0,84.0,37.0,100.0,24570.0,...,0,79.0,68.0,NaN,79.0,NaN,98.0,88.0,NaN,80.0
3,2020-04-17,87.0,83.0,97.0,95.0,95.0,78.0,72.0,100.0,25170.0,...,2,88.0,88.0,89.0,88.0,78.0,100.0,85.0,NaN,97.0
4,2020-04-18,82.0,74.0,77.0,97.0,93.0,82.0,70.0,97.0,23070.0,...,0,78.0,80.0,83.0,93.0,75.0,100.0,82.0,NaN,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,2021-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,2021-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786,2021-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
787,2021-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,2022-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# First join sleep and arboleaf together by the day.
arboleaf_cols = []
arboleaf_by_day = arboleaf_df[['ts', 'Weight(lb)', 'BMI', 'Body Fat(%)', 'Fat-free Body Weight(lb)', 'Subcutaneous Fat(%)', 'Visceral Fat',
       'Body Water(%)', 'Skeletal Muscle(%)', 'Muscle Mass(lb)',
       'Bone Mass(lb)', 'Protein(%)',
       'BMR(kcal)', 'Metabolic Age']].groupby('ts').mean()  # Turn into averages for that day
arboleaf_by_day.index = pd.to_datetime(arboleaf_by_day.index)

# Use outer join to merge, including all records from both dataframes
merged_sleep_and_bio = pd.merge(arboleaf_by_day, sleep_df, left_index=True, right_on="date", how='outer')

# Setting the index
merged_sleep_and_bio.set_index('date', inplace=True)

In [30]:
merged_sleep_and_bio

,Weight(lb),BMI,Body Fat(%),Fat-free Body Weight(lb),Subcutaneous Fat(%),Visceral Fat,Body Water(%),Skeletal Muscle(%),Muscle Mass(lb),Bone Mass(lb),...,Long Periods of Inactivity,Readiness Score,Previous Night Score,Sleep Balance Score,Previous Day Activity Score,Activity Balance Score,Temperature Score,Resting Heart Rate Score,HRV Balance Score,Recovery Index Score
date,,,,,,,,,,,,,,,,,,,,,
2020-01-05,171.466667,25.4,14.466667,146.733333,12.2,7.666667,61.733333,55.266667,139.333333,7.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,167.200000,24.8,14.000000,143.800000,11.8,7.000000,62.100000,55.600000,136.600000,7.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-07,165.600000,24.5,13.800000,142.800000,11.7,7.000000,62.200000,55.700000,135.600000,7.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-08,165.600000,24.5,13.800000,142.800000,11.7,7.000000,62.200000,55.700000,135.600000,7.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-09,164.200000,24.3,13.600000,141.800000,11.6,7.000000,62.400000,55.800000,134.800000,7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
food_df['day_ts'] = food_df['ts'].dt.date
ignore = set(['Food Name','Day','Time','Group','Category','ts','Amount'])
food_df_by_day = food_df[list(set(food_df.columns) - ignore)]
food_df_by_day.set_index('day_ts', inplace=True)
food_df_by_day = food_df_by_day.groupby('day_ts').sum()

In [32]:
merged_bio_food = pd.merge(food_df_by_day, merged_sleep_and_bio, left_index=True, right_index=True, how = 'outer')

In [33]:
food_df.columns

Index(['Day', 'Time', 'Group', 'Food Name', 'Amount', 'Energy (kcal)',
       'Alcohol (g)', 'Caffeine (mg)', 'Water (g)', 'B1 (Thiamine) (mg)',
       'B2 (Riboflavin) (mg)', 'B3 (Niacin) (mg)',
       'B5 (Pantothenic Acid) (mg)', 'B6 (Pyridoxine) (mg)',
       'B12 (Cobalamin) (µg)', 'Beta-carotene (µg)', 'Folate (µg)',
       'Lutein+Zeaxanthin (µg)', 'Vitamin A (IU)', 'Vitamin C (mg)',
       'Vitamin D (IU)', 'Vitamin E (mg)', 'Vitamin K (µg)', 'Calcium (mg)',
       'Copper (mg)', 'Iron (mg)', 'Magnesium (mg)', 'Manganese (mg)',
       'Phosphorus (mg)', 'Potassium (mg)', 'Selenium (µg)', 'Sodium (mg)',
       'Zinc (mg)', 'Carbs (g)', 'Fiber (g)', 'Starch (g)', 'Sugars (g)',
       'Net Carbs (g)', 'Fat (g)', 'Cholesterol (mg)', 'Monounsaturated (g)',
       'Polyunsaturated (g)', 'Saturated (g)', 'Trans-Fats (g)', 'Omega-3 (g)',
       'Omega-6 (g)', 'Cystine (g)', 'Histidine (g)', 'Isoleucine (g)',
       'Leucine (g)', 'Lysine (g)', 'Methionine (g)', 'Phenylalanine (g)',
       'Protein (g)', 'Threonine (g)', 'Tryptophan (g)', 'Tyrosine (g)',
       'Valine (g)', 'Category', 'ts', 'day_ts'],
      dtype='object')

In [34]:
merged_bio_food

,Starch (g),Iron (mg),Water (g),Net Carbs (g),Sugars (g),B1 (Thiamine) (mg),B12 (Cobalamin) (µg),Leucine (g),B5 (Pantothenic Acid) (mg),Magnesium (mg),...,Long Periods of Inactivity,Readiness Score,Previous Night Score,Sleep Balance Score,Previous Day Activity Score,Activity Balance Score,Temperature Score,Resting Heart Rate Score,HRV Balance Score,Recovery Index Score
2019-07-01,50.59,8.06,2441.21,150.45,83.90,1.03,7.72,3.96,8.52,308.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-03,41.29,7.96,1269.29,180.22,117.33,0.71,5.56,3.93,3.79,299.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-04,13.62,8.13,3171.05,173.10,140.13,0.92,6.47,1.95,4.83,276.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-05,11.97,6.17,1764.30,125.30,94.31,0.63,5.38,3.30,6.20,251.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-06,14.46,10.37,2104.88,99.42,66.92,0.95,6.61,2.92,5.95,523.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,76.0,84.0,81.0,81.0,77.0,85.0,90.0,62.0,45.0
2022-06-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,80.0,76.0,78.0,70.0,78.0,100.0,99.0,72.0,91.0
2022-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,77.0,69.0,77.0,79.0,80.0,100.0,69.0,78.0,93.0
2022-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,81.0,90.0,77.0,67.0,76.0,81.0,89.0,80.0,82.0
2022-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,93.0,100.0,87.0,100.0,80.0,99.0,100.0,87.0,100.0

In [ ]:
merged_bio_food.to_csv('./merged.csv')